<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARS Weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>Mission to MARS</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <section>
                <h3> <strong>Latest Mars News</strong></h3>
                <h4> <strong>
                  {{ weather.news_title }}
                </strong>
                </h4>
                <h5>
                  {{ weather.news_p }}
                </h5>
                <hr>
              </section>
            </div>
            <div class="row">
              <div class="col-md-8">
              <h3><strong>
                Featured Mars Image
              </strong></h3>
              <img src="{{ weather.featured_image_url }}" alt="MARS" height="400" width="600">
              </div>
              <div class="col-md-4">
                <div class="box">
                  <section>
                    <h4><strong>Current Weather on Mars</strong></h4>
                    <h5>{{ weather.weather }} </h5>
                  </section>
                </div> 
                <div class="space"></div>
                <br>
                  <h4><strong>Mars Facts</strong></h4>
                  <table>
                    {{weather.table | safe}}
                  </table>
    <div class="doublespace"></div>    
            </div>
          </div>
  </div>
</div>
</div>

</body>
</html>

